@import 'styles/mixins';
@import 'styles/vars';
@import 'styles/extends';

$icon-size: 1.5rem;

.button {
  padding: 16px 24px;

  @extend .text-secondary;
  @include hover(color, $color-primary);

  &--default {
    border: 1px solid $color-dark;
    @include hover('background-color', $color-dark);

    &:hover {
      color: $color-light;
    }
  }

  &--icon {
    display: inline-flex;
    align-items: center;
    padding: 8px 0;
    font-size: $icon-size;

    svg {
      width: $icon-size;
      height: $icon-size;
      transition: fill 0.2s;
    }

    g {
      fill: inherit;
    }

    &:hover svg {
      fill: $color-primary;
    }

    &.active {
      color: $color-primary;
      font-weight: 700;
    }
  }

  &--link {
    @extend .link;
    position: relative;
    padding: 8px 0;

    &::after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      width: 40px;
      height: 1px;
      background-color: $color-dark;
      transition: width 0.2s;
    }

    &:hover::after {
      background-color: $color-primary;
      width: 100%;
    }
  }

  &--text {
    padding-left: 0;
    padding-right: 0;
  }
}
