@import 'styles/vars';
@import 'styles/mixins';

.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 400px;
  padding: 64px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: lighten($color-dark, 5%);
  color: $color-light;
  transition: transform 0.4s;

  @include box-shadow($blur: 32px);
}

.list {
  flex-grow: 1;
}

.link {
  &::after {
    background-color: $color-light;
  }
}

.times {
  position: absolute;
  right: 48px;
  top: 48px;
  padding: 16px;
}

.email {
  font-size: 0.9rem;
}
