@import 'styles/vars';
@import 'styles/mixins';

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba($color-light, 0.95);
  @include box-shadow;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.catalog {
  margin-right: 32px;
}

.left,
.right {
  display: inline-flex;
  align-items: center;
  width: 200px;
}

.right {
  justify-content: flex-end;
}

.cart {
  position: relative;

  &-count {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(4px, 10px);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $color-dark;
    color: $color-light;

    font-size: 0.65em;
    font-weight: bold;
  }
}

@media (max-width: $resolution-mobile) {
  .left,
  .right {
    width: auto;
  }

  .catalog {
    display: none;
  }
}
