@font-face {
  font-family: 'Alegreya Sans';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/alegreya-sans-v13-latin_cyrillic-300.woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/alegreya-sans-v13-latin_cyrillic-regular.woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/alegreya-sans-v13-latin_cyrillic-700.woff2');
}

@font-face {
  font-family: 'Alegreya';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/alegreya-v16-latin_cyrillic-regular.woff2');
}

@font-face {
  font-family: 'Alegreya';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/alegreya-v16-latin_cyrillic-700.woff2');
}
