a,
button {
  color: inherit;
  display: inline-block;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  background: none;
  outline: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

