//$color-primary: #e46c74;
$color-primary: #c5abcc;
$color-dark: #282c34;
$color-neutral: lighten($color-dark, 30%);
$color-light: #fff;
$color-critical: #ce5555;

$resolution-mobile: 768px;
$resolution-tablet: 1200px;
$resolution-desktop: 1600px;
